{% extends "base.html" %}
{% block body %}
<div class='sub-body container-fluid'>
    <div class='row'>
      <div class='col-sm-4 verticalLine' style='min-width:50%;'>
        <h1 >Categories</h1>
        <hr>
        {% if current_user.get_id() %}
        <a href="{{url_for('addCategory')}}">Add Category</a>
        {% endif %}
        </br>
        </br>
        <div >
        {% for i in category %}
          <p><a style="color:black" href="{{url_for('category',category_name=i.name)}}">{{ i.name }}</a></p>
        {% endfor %}
      </div>
    </div>
  <div class='col-sm-4' style='min-width:50%;'>
    <h1>Items</h1>
    <hr>
    {% if current_user.get_id() %}
    <a href="{{url_for('addItem',category_name='Any')}}">Add Item</a>
    {% endif %}
  </br>
  </br>
    {% for i in items %}
      <p><a style="color:black" href="{{url_for('itemDescription',item_name=i.item_name)}}">{{ i.item_name }}({{i.category.name}})</a></p>

    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}
