{% extends "base.html" %}
{% block body %}
<div class='sub-body container-fluid'>
    <div class='row'>
      <div class='col-sm-12 verticalLine' style='min-width:50%;'>
        <p><a style="float:right" href="{{url_for('category',category_name=item.category.name)}}">Back</a></p>
        <h1 >{{item.item_name}}</h1>
        {% if current_user.get_id() %}
        <p><a href="{{url_for('deleteItem',item_name=item.item_name)}}">Delete Item</a></p>
        <p><a href="{{url_for('updateItem', item_name=item.item_name)}}">Update Item</a></p>

        {% endif %}

        <hr>
        <p>description:{{item.description}}<p>
      </div>
    </div>
</div>
{% endblock %}
